span{
    padding: 10px;
}
.header1{
    padding: 10px;
    float: right;
    
    font-size: 20px;

}
.header2{
    float: right;
    margin-top: 12px;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: #000;
}
.google{
    width: 50%;
  }

  .center{
      margin-left: 450px;
      margin-top: 100px;
      float: left;
  }
  .search{
      width: 582px;
      color: #222;
      background-color: bisque;
      border: 1px solid rgb(250, 218, 179);
      font-size: 13px;
      padding: 14px;
      border-radius: 24px;
      clear: both;
      margin-left: 400px;
      box-shadow: 5px 10px 18px #888888;
       }

       .search:hover{
           opacity: 0.7;
         
       }
  
  
  .mic{
      margin-left: 300px;
  }
  
  .fa {
    padding: 30px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 20px;
  }
  .fa:hover {
    opacity: 0.7;
}

.fa-plus{
    background-color: #8a8583;
    color:black;
    

}

.fa-yahoo {
    background: #be1a1a;
    color: white;
    margin-left: 550px;
}
    

  
  .fa-facebook {
    background: #3B5998;
    color: white;
   
   
  }
  